* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin: 4px 0px;
    width: 130px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}

.headleft {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.headright {
    display: flex;
    gap: 20px;
}

.header img {
    max-width: 100px;
    margin-right: 15px
}

.body1 {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    flex: 1 1 auto;
    padding: 20px;
}

.body1left {
    flex-wrap: wrap;
    max-width: 450px;
}

.body1left h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.body1left p, .headright {
    font-size: 18px;
    color: #E5E7EB;
}

.body1right {
    align-content: center;
}

.body1right img {
    max-width: 200px;
}

.body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body2 ul {
    display: flex;
    justify-content: center;
}

.body2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body2 h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.body2 img {
    display: flex;
    align-content: center;
    max-width: 200px;
}

.body3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;

}

.body3 p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.body3 div {
    font-weight: bold;
}

.body4 {
    margin: 30px 250px;
    min-width: 300px;
    min-height: 200px;
    color: #F9FAF8;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body4left p {
    font-size: 24px;
    font-weight: bold
}

.body4 button {
    border: 2px solid #F9FAF8;
    margin: 3px 10px;
    max-width: 200px;
    max-height: 50px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    min-height: 100px;
    color: #F9FAF8;
}